/* theme.css */

/* 기본 테마 (Light) */
:root {
  --color-black: #000000; /* 기본 텍스트 */
  --color-gray: #4d535e;
  --color-lightgray: #6b7280;
  --color-darkgray: #444953;
  --color-white: #fff;
  --color-bg: #f1f5f9; /* slate-200 */
  --color-light-bg: #f8fafc; /* slate-50 */
  --color-accent: #64748b; /* slate-500 */
  --color-border: #e2e8f0; /* slate-300 */
}

/* 테마: Slate */
.theme-slate {
  --color-bg: #f1f5f9; /* slate-200 */
  --color-light-bg: #f8fafc; /* slate-50 */
  --color-accent: #64748b; /* slate-500 */
  --color-border: #e2e8f0; /* slate-300 */
}

/* 테마: Amber */
.theme-amber {
  /* --color-bg: #feefc3; amber-200 */
  --color-bg: #fcfcfc; /* amber-200 */
  --color-light-bg: #fffbeb; /* amber-50 */
  --color-accent: #f59e0b; /* amber-500 */
  --color-border: #fde68a; /* amber-300 */
}

/* 테마: Rose */
.theme-rose {
  --color-bg: #ffe4e6; /* rose-200 */
  --color-light-bg: #fff1f2; /* rose-50 */
  --color-accent: #e11d48; /* rose-600 */
  --color-border: #fda4af; /* rose-300 */
}

/* 테마: Indigo */
.theme-indigo {
  --color-bg: #e0e7ff; /* indigo-200 */
  --color-light-bg: #eef2ff; /* indigo-50 */
  --color-accent: #4f46e5; /* indigo-600 */
  --color-border: #a5b4fc; /* indigo-300 */
}

/* 테마: Teal */
.theme-teal {
  --color-bg: #ccfbf1; /* teal-200 */
  --color-light-bg: #f0fdfa; /* teal-50 */
  --color-accent: #0d9488; /* teal-600 */
  --color-border: #5eead4; /* teal-300 */
}

/* 폰트 컬러 */
.text-black {
  color: var(--color-black);
}

.text-gray {
  color: var(--color-gray);
}

.text-lightgray {
  color: var(--color-lightgray);
}

.text-white {
  color: var(--color-white);
}

/* 배경 컬러 */
.bg-theme {
  background-color: var(--color-bg);
}

.bg-theme-light {
  background-color: var(--color-light-bg);
}
