/* theme.css */

/* 기본 테마 (Light) */
:root {
  --color-black: #000000; /* 기본 텍스트 */
  --color-gray: #4d535e;
  --color-lightgray: #6b7280;
  --color-darkgray: #444953;
  --color-white: #fff;
  --color-bg: #f5f5f59d; /* white-200 */
  --color-light-bg: #ffffff9d; /* white-50 */
  --color-accent: #64748b; /* white-500 */
  --color-border: #e2e8f0; /* white-300 */

  /* stone 계열 */
  --color-gray-50: #fafaf9;
  --color-gray-100: #f5f5f4;
  --color-gray-200: #e7e5e4;
  --color-gray-300: #d6d3d1;
  --color-gray-400: #a8a29e;
  --color-gray-500: #78716c;
  --color-gray-600: #57534e;
  --color-gray-700: #44403c;
  --color-gray-800: #292524;
  --color-gray-900: #1c1917;
  --color-gray-950: #0c0a09;

  --color-text-white: #fff;
  --color-text-whiteGray: #fafafa;
  --color-point: #928377;
  --color-red: #d56767;

  /* gray 계열 */
  /* --color-gray-50: #fafafa; */
  /* --color-gray-100: #f5f5f5; */
  /* --color-gray-200: #e5e5e5; */
  /* --color-gray-300: #d4d4d4; */
  /* --color-gray-400: #a3a3a3; */
  /* --color-gray-500: #737373; */
  /* --color-gray-600: #525252; */
  /* --color-gray-700: #404040; */
  /* --color-gray-800: #262626; */
  /* --color-gray-900: #171717; */
  /* --color-gray-950: #0a0a0a; */

  /* slate 계열 */
  /* --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e1;
  --color-gray-400: #94a3b8;
  --color-gray-500: #64748b;
  --color-gray-600: #475569;
  --color-gray-700: #334155;
  --color-gray-800: #1e293b;
  --color-gray-900: #0f172a;
  --color-gray-950: #020617; */
}

/* 테마: White */
.theme-white {
  --color-text: #333333;
  --color-bg: #d5cac73c; /* white-200 */
  --color-light-bg: #ffffff55; /* white-50 */
  --color-accent: #64748b; /* white-500 */
  --color-border: #e2e8f0; /* white-300 */
}

/* 테마: Slate */
.theme-slate {
  --color-bg: #f1f5f99d; /* slate-200 */
  --color-light-bg: #d9d9d939; /* slate-50 */
  --color-accent: #64748b; /* slate-500 */
  --color-border: #e2e8f0; /* slate-300 */
}

/* 테마: Amber */
.theme-amber {
  /* --color-bg: #feefc3; amber-200 */
  --color-bg: #fcfcfc9d; /* amber-200 */
  --color-light-bg: #fffbeb9d; /* amber-50 */
  --color-accent: #f59e0b; /* amber-500 */
  --color-border: #fde68a; /* amber-300 */
}

/* 테마: Rose */
.theme-rose {
  --color-bg: #ffe4e69d; /* rose-200 */
  --color-light-bg: #fff1f29d; /* rose-50 */
  --color-accent: #e11d48; /* rose-600 */
  --color-border: #fda4af; /* rose-300 */
}

/* 테마: Indigo */
.theme-indigo {
  --color-bg: #e0e7ff9d; /* indigo-200 */
  --color-light-bg: #eef2ff9d; /* indigo-50 */
  --color-accent: #4f46e5; /* indigo-600 */
  --color-border: #a5b4fc; /* indigo-300 */
}

/* 테마: Teal */
.theme-teal {
  --color-bg: #ccfbf19d; /* teal-200 */
  --color-light-bg: #f0fdfa9d; /* teal-50 */
  --color-accent: #0d9488; /* teal-600 */
  --color-border: #5eead4; /* teal-300 */
}

/* 테마: mood */
.theme-mood {
  --color-bg: #efedec9d; /* teal-200 */
  --color-light-bg: #f5f3f29d; /* teal-50 */
  --color-accent: #e7c6b5; /* teal-600 */
  --color-border: #9a8276; /* teal-300 */
}

/* 폰트 컬러 */
.text-300gray {
  color: var(--color-gray-300);
}
.text-400gray {
  color: var(--color-gray-400);
}
.text-500gray {
  color: var(--color-gray-500);
}
.text-600gray {
  color: var(--color-gray-600);
}
.text-700gray {
  color: var(--color-gray-700);
}
.text-800gray {
  color: var(--color-gray-800);
}
.text-900gray {
  color: var(--color-gray-900);
}

.text-white {
  color: var(--color-white);
}
.text-point {
  color: var(--color-point);
}

/* 배경 컬러 */
.bg-theme {
  background-color: var(--color-bg);
}

.bg-theme-light {
  background-color: var(--color-light-bg);
}

@layer base {
  :root {
    /* Font Families */
    /* 사용할 웹 폰트 이름을 여기에 지정해주세요. 예: "Pretendard" */
    /* --font-primary: sans-serif; */
    /* --font-serif: serif; */
    /* --font-script: cursive; */

    /* Text Colors */
    /* 어두운 계열 색상을 이곳에서 관리합니다. */
    --color-text-primary: #262626; /* 기본 텍스트 (ex. formerly text-gray-800) */
    --color-text-secondary: #525252; /* 부가 텍스트 (ex. formerly text-gray-600) */
    --color-text-tertiary: #737373; /* 연한 텍스트 (ex. formerly text-gray-500) */
    --color-text-accent: #b19487; /* 포인트 텍스트 */

    /* Background Colors */
    --color-bg-light: #f8f5f2;
    --color-bg-card: #ffffff;

    /* Border/Separator Colors */
    --color-border: #e5e7eb; /* ex. formerly gray-200 */
  }

  body {
    font-family: var(--font-primary);
    color: var(--color-text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* .font-serif {
    font-family: var(--font-serif);
  } */
}

.splash-background {
  background-image: url("/assets/images/background/paper-texture2.jpg");
  background-size: 100% auto;
}

/* 스플래시 배경 이미지 프리로딩 */
.preload-images::before {
  content: "";
  position: absolute;
  left: -9999px;
  background:
    url("/assets/images/background/paper-texture2.jpg") no-repeat -9999px -9999px,
    url("/assets/images/boy.jpeg") no-repeat -9999px -9999px,
    url("/assets/images/girl.jpeg") no-repeat -9999px -9999px;
}
